:root.theme-light {
    --commonFont: 'Inter-Variable', 'Courier New', monospace;
    --pixelFont: 'PressStart2P', 'Courier New', monospace;
    --fontWeightBig: 700;
    --fontWeightNormal: 400;
    --backgroundColor: white;
    --textColor: black;
    --pageBackgroundColor: repeating-linear-gradient(to left, #d3d3d3, #d3d3d3 2px, 2px, transparent 4px), repeating-linear-gradient(to top, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --heartContour: black;
    --buttonTextHover: white;
    --heartMainBodyHover: black;
    --heartMainBodyActive: #FF0000;
}

:root.theme-dark {
    --fontWeightBig: 785;
    --fontWeightNormal: 465;
    --backgroundColor: black;
    --textColor: #00CC14;
    --pageBackgroundColor: repeating-linear-gradient(to left, #000000, #000000 2px, 2px, transparent 4px), repeating-linear-gradient(to top, #000000, #000000 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
    --heartContour: #00cc14;
    --buttonTextHover: #00cc14;
    --heartMainBodyHover: #00cc14;

}

@media (prefers-color-scheme: dark) {
    :root {
        --fontWeightBig: 785;
        --fontWeightNormal: 465;
        --backgroundColor: black;
        --textColor: #00CC14;
        --pageBackgroundColor: repeating-linear-gradient(to left, #000000, #000000 2px, 2px, transparent 4px), repeating-linear-gradient(to top, #000000, #000000 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
        --heartContour: #00cc14;
        --buttonTextHover: #00cc14;
        --heartMainBodyHover: #00cc14;

    }
}